// Generic styles

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: none;

  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  color: var(--grayish-blue);
}

:root {
  --light-red: rgb(250, 87, 87);
  --light-blue: rgb(83, 104, 223);
  --grayish-blue: rgb(98, 101, 119);
  --light-gray: rgba(177, 177, 177, 0.8);
  --very-dark-blue: rgb(37, 43, 70);
  --very-drak-blue-opacity: rgba(37, 43, 70, 0.9);
  --svg-bg-color: rgb(241 227 241);
}

body {
  opacity: 0;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 36px;  
}

h2, h3 {
  font-size: 28px;
}

h1, h2, h3 {
  color: black;
}

.page-header, main > section:not(.features-section, .questions-section, .stay-up-to-date-section) {
  margin: 0px auto;
  padding: 5vh 5vw;
  max-width: 1400px;
}


// mixins

@mixin button($color, $vertical-padding: 32px) {
  display: inline-block;
  border: 2px solid $color;
  padding: 8px $vertical-padding;

  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);

  background-color: $color;
  border-radius: 4px;

  user-select: none;

  color: white;
  font-weight: 500;
  text-align: center;

  transition: 150ms background-color linear, 150ms color linear;

  @media (hover: hover) {
    &:hover {
      background-color: white;
      color: $color;
    }
  }

  @media (hover: none) {
    &:active {
      background-color: white;
      color: $color;
    }
  }
}


// Specific styles

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 10vh;
  
  &__logo {
    width: 148px;
  }

  &__link {
    color: black;

    user-select: none;

    font-variant: small-caps;
    font-weight: 500;
    font-size: 18px;

    transition: 150ms color linear;

    & + & {
      margin-left: 2vw
    }

    @media (hover: hover) {   // Avoid the hover state being applied on touch devices
      &:hover {
        color: var(--light-red)
      }
    }

    @media (hover: none) {
      &:active {
        color: var(--light-red)
      }
    }
  }

  &__link-special {
    @include button(var(--light-red))
  }

  &__hamburguer-menu__header {
    display: none;
  }

  &__hamburguer-menu__social {
    display: none;
  }

  &__hamburger {
    display: none;
  }
}

.introductory-section {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10%;

  padding-bottom: 5vh;

  overflow: hidden;

  &__paragraph {
    margin: 4vh 0px;
  }

  &__chrome-button {
    margin-right: 2vw;
    @include button(var(--light-blue))
  }

  &__firefox-button {
    @include button((var(--light-red)))
  }

  &__svgs-container {
    position: relative;
  }
  
  &__ameba-svg {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    transform: translate(20%, -20%);
  }
}

.features-section {
  overflow: hidden;

  &__wrapper {
    margin: 0px auto;
    padding: 5vh 5vw 3vh;
    max-width: 1400px;
  }

  &__title {
    text-align: center;
  }

  &__paragraph {
    margin: 4vh auto 7vh;
    width: 50%;

    text-align: center;
  }

  &__tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    margin: 0px auto;
    border-bottom: solid 1px var(--light-gray);
    width: 75%;

    &__tab {
      padding: 24px 0px;

      position: relative;

      background-color: transparent;

      overflow: hidden;

      user-select: none;

      transition: 150ms color linear;

      &::After {
        content: '';

        display: block;
        margin: 0px auto;
        width: 60%;
        height: 4px;
        
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 100%);
        
        background-color: var(--light-red);

        transition: 150ms transform linear;
      }

      &--active {
        color: black !important;

        &::after {
          transform: translate(-50%, 0px);
        }
      }

      @media (hover: hover) {
        &:hover {
          color: var(--light-red)
        }
      }

      @media (hover: none) {
        &:active {
          color: var(--light-red);
        }
      }
    } 

    &__vertical-bar {
      height: 4px;

      background-color: var(--light-red);

      transition: 300ms transform ease-in-out;
    }
  }

  &__carousel {
    display: grid;
    grid-template-columns: repeat(3, 100%);

    margin: 3vh 0px 4vh;

    transition: 300ms transform ease-in-out;

    svg:nth-child(1) {
      background-color: var(--svg-bg-color);
      border-radius: 8px;
    }
    
    &__item {
      margin: 0px auto 2vh;
      display: grid;
      grid-template-columns: 1fr 55%;
      grid-gap: 10%;
      align-items: center;

      padding: 0px 5vw;
      max-width: 1400px;

      div:nth-child(1) {
        position: relative;

        svg:last-child {
          width: 100%;

          position: absolute;
          top: 0px;
          left: 0px;
          z-index: -1;
          transform: translate(-22%, -10%);
        }
      }
    }

    p {
      margin: 4vh 0px;
    }

    button {
      @include button(var(--light-blue))
    }
  }
}

.download-section {
  &__title {
    text-align: center;
  }

  &__paragraph {
    margin: 4vh auto 6vh;
    width: 50%;

    text-align: center;
  }

  &__cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    align-items: end;
    justify-content: center;
    grid-gap: 50px;

    margin-bottom: 80px;
  }

  &__card {
    border-radius: 10px;

    box-shadow: 0px 10px 20px 1px var(--light-gray);

    &:nth-child(2) {
      transform: translateY(40px);
    }

    &:nth-child(3) {
      transform: translateY(80px);
    }

    &__logo {
      display: block;
      margin: 6vh auto;
      width: 100px;
    }

    h3, p {
      text-align: center;
    }

    h3 {
      margin: 2vh 2vw 2vh;

      font-size: 20px;
    }

    p {
      margin: 0px 2vw 4vh;
    }
    
    span {
      text-decoration: underline;
    }

    &__dots {
      width: 100%;
    }

    div {
      padding: 20px;
    }

    a {
      width: 100%;
      
      @include button(var(--light-blue))
    }
  }
}

.questions-section {
  margin: 0px auto;
  padding: 3vh 5vw 9vh;
  max-width: 1400px;
  
  &__title {
    text-align: center;
  }

  &__paragraph {
    margin: 5vh auto;
    width: 50%;

    text-align: center;
  }

  &__accordion-container {
    margin: 0px auto;
    border-bottom: 1px solid var(--light-gray);
    width: 50%;

    list-style: none;

    button {
      display: flex;
      justify-content: space-between;

      border-top: 1px solid var(--light-gray);
      padding: 20px 0px;  // !
      width: 100%;

      background-color: transparent;
  
      font-weight: 500;
      font-size: 20px;

      span {
        margin-right: 14px;

        text-align: left;

        color: black;

        transition: 150ms 100ms color linear;
      }

      svg {
        transition: 150ms transform ease-in-out;
      }

      @media (hover: hover) {
        &:hover span {
          color: var(--light-red);
          stroke: var(--light-red)
        }
      }

      @media (hover: none) {
        &:active span {
          color: var(--light-red);
          stroke: var(--light-red)
        }
      }
    }

    p {
      height: 0px;

      overflow: hidden;

      transition: 200ms height ease-in-out;
    }

    p:after {   // I created this pseudo-element to add the spacing at the bottom of the paragraph, because the padding wasn't  working properly on the <p>
      content: '';

      display: block;
      height: 20px;
    }
  }

  &__more-info {
    display: block !important;
    margin: 4vh auto 0px;
    width: fit-content;
    
    @include button(var(--light-blue))
  }
}

.stay-up-to-date-section {
  padding: 8vh 4vw;

  background-color: var(--light-blue);

  &__wrapper {
    margin: 0px auto;
    max-width: 1400px;
  }

   &__paragraph {
    margin: 0px auto;
    width: 50%;

    text-align: center;
    text-transform: uppercase;
    color: white;
  }

  h2 {
    margin: 4vh auto;
    width: 50%;

    text-align: center;
    font-weight: 400;
    color: white;
  }

  &__grid-container {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 20px;

    margin: 0px auto;
    width: 50%;
  }

  &__input-wrapper {
    position: relative;

    &__input {
      border: 2px solid transparent;
      padding:  0px 10px;
      width: 100%;
      height: 100%;

      position: relative;
      z-index: 1;

      border-radius: 4px;

      background-color: rgb(119, 255, 255);

      color: black;

      transition: 150ms background-color linear, 250ms border-color linear, 250ms border-radius linear;

      &:focus {
        background-color: white;
      }
    }

    &__label {
      padding-left: 10px;

      position: absolute;
      top: 50%;
      left: 0px;
      z-index: 1;
      transform: translateY(-50%);
      
      color: var(--grayish-blue);

      user-select: none;
      pointer-events: none;

      transition: 250ms transform ease-in-out, 150ms 100ms opacity linear;
    }

    svg {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(100%, -50%);
      z-index: 1;

      opacity: 0;

      pointer-events: none;

      transition: 250ms transform ease-in-out, 150ms opacity linear;
    }

    &__input-error-message {
      display: block;
      width: 100%;
      padding: 3px 7px 7px;

      position: absolute;
      top: 100%;
      transform: translateY(-100%);

      background-color: var(--light-red);

      border-radius: 0px 0px 4px 4px;

      font-style: italic;
      font-weight: 500;
      font-size: 14px;
      color: white;
      
      transition: 250ms transform ease-in-out;
    }
  }
  
  button {
    @include button(var(--light-red), 16px)
  }
}

.page-footer {
  padding: 4vh 4vw;

  background-color: var(--very-dark-blue);

  &__flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0px auto;
    max-width: 1400px;

    div {
      display: flex;
      align-items: center;  
    }

    div:first-child a {
      text-transform: lowercase;
      font-variant: small-caps;
      font-weight: 500;
      font-size: 18px;

      transition: 150ms color linear;

      @media (hover: hover) {
        &:hover {
          color: var(--light-red);
        }
      }

      @media (hover: none) {
        &:active {
          color: var(--light-red);
        }
      }
    }

    div:last-child svg {
      fill: white ;

      transition: 150ms fill linear;

      @media (hover: hover) {
        &:hover {
          fill: var(--light-red);
        }
      }

      @media (hover: none) {
        &:active {
          fill: var(--light-red);
        }
      }
    }

    a + a {
      margin-left: 3vw;
      
    }

    &__logo {
      margin-right: 3vw;
      width: 148px;
    }
  }
}


// Javascript's classes

.show-content {
  animation: show 300ms 1000ms linear forwards;
}

.activate-hamburger-menu.activate-hamburger-menu {
  transform: translateX(0px);
}

.rotate-arrow {
  transform: rotate(-180deg);
}

.hide-label {
  opacity: 0;

  transform: translate(-100%, -50%);

  transition-delay: 0ms;
}

.apply-error-style-on-element {
  border-color: var(--light-red);
  border-radius: 4px 4px 0px 0px;
}

svg.show-error-svg {
  opacity: 1;

  transform: translate(0%, -50%)
}

.show-error-message {
  transform: translateY(0px);
}


// At-rules

@media (pointer: coarse) {
  button, a {
    cursor: default;
  }
}

// width-based query

@media (max-width: 1075px) {
  .stay-up-to-date-section__grid-container {
    width: 70%;
  }
}

@media (max-width: 980px) {
  .introductory-section {
    grid-template-columns: 60% 1fr;
    grid-gap: 5%;
  }

  .features-section__paragraph, .download-section__paragraph, .questions-section__paragraph, .questions-section__accordion-container {
    width: 70%;
  }

  .questions-section__more-info {
    margin-top: 40px;
  }
}

@media (max-width: 961px) {
  .download-section {
    &__cards-container {
      margin-bottom:20px;
    }

    &__card:nth-child(2), &__card:nth-child(3) {
      transform: none;
    }
  }
}

@media (max-width: 915px) {
  .download-section__cards-container {
    grid-gap: 30px;
  }

  .download-section__card a {
    padding: 8px 12px;
  }
}

@media (max-width: 790px) {
  .features-section__tabs {
    width: 100%;
  }
  
  .download-section__card {
    &__logo {
      width: 80px;
    }

    p {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 734px) {
  .page-header {
    padding-bottom: 5vh;
  }

  .introductory-section {
    justify-items: center;
    grid-template-columns: 1fr;

    & > div:first-child {
      order: 1;
    }

    &__svgs-container {
      width: 60%;
    }

    h1, &__paragraph {
      text-align: center; 
    }

    &__flex {
      display: flex;
      justify-content: space-evenly;

      margin-top: 5vh;
      margin-bottom: 20px;
    }
  }

  .features-section__carousel {
    margin-top: 7vh;

    &__item {
      grid-gap: 60px;
      grid-template-columns: 1fr;
  
      div:first-child {
        margin: 0px auto;
        width: 60%;
      }
    }

    h3 {
      text-align: center;
    }

    p {
      text-align: center;
    }

    button {
      display: block;
      margin: 0px auto;
    }
  }
}

@media (max-width: 650px) {
  .features-section__paragraph, .download-section__paragraph, .questions-section__paragraph, .questions-section__accordion-container {
    width: 100%;
  }

  .stay-up-to-date-section {
    h2 {
      width: 80%;
    }

    &__grid-container {
      width: 100%;
    }
  }
}

@media (max-width: 580px) {
  .page-header {
    &__link {
      display: block;
      border-top: 1px solid var(--light-gray);
      padding: 20px 0px;

      text-align: center;
      
      font-size: 24px;
      color: white ;
      
      & + & {
        margin: 0px;
      }

      &:nth-child(4) {
        margin-bottom: 20px;
        border-bottom: 1px solid var(--light-gray);
      }
      
    }

    &__link-special {
      border: 2px solid white;
      padding: 10px 0px 12px;
      
      background-color: transparent;

      border-radius: 6px;

      box-shadow: none;
    }

    &__hamburguer-menu {
      padding: 30px 40px;
      width: 100%;
      height: 100vh;

      position: fixed;
      left: 0px;
      top: 0px;
      z-index: 2;
      transform: translateX(100%);

      background-color: var(--very-drak-blue-opacity);

      transition: 250ms transform ease-in-out;

      &__header {
        display: flex;
        justify-content: space-between;

        margin-bottom: 30px;

        button {
          padding: 6px;

          background-color: transparent;
        }

        &__close-svg {
          width: 24px;
        }
      }
    
      &__social {
        display: flex;
        justify-content: center;

        width: 100%;

        position: absolute;
        left: 0px;
        bottom: 90px;

        a:first-child {
          margin-right: 30px;
        }

        svg {
          width: 24px;
  
          fill: white;
  
          transition: 150ms fill linear;
        }
  
        svg:active {
          fill: var(--light-red);
        }
      }
    }

    &__hamburger {
      display: inline-block;
      padding: 6px;

      background-color: transparent;

      svg {
        width: 24px;
      }
    }
  }
}

@media (max-width: 500px) {
  .features-section__tabs {
    display: block;
    border-bottom: 0px;

    &__tab {
      display: block;
      border-bottom: 1px solid var(--light-gray);
      width: 100%;
    }
  }

  .page-footer {
    &__flex-wrapper {
      display: block;

      div:first-child {
        display: block;

        a, svg {
          display: block;
          margin: 0px auto;
        }

        a {
          margin-top: 20px;
          padding: 8px;
          width: fit-content;

          font-size: 22px;
          font-weight: 400;
          letter-spacing: 6px;
        }
      }

      div:last-child {
        justify-content: center;

        margin-top: 40px;

        a:last-child {
          margin-left: 30px;
        }
      }
    }
  }
}

@media (max-width: 477px) {
  .introductory-section__svgs-container {
    width: 90%;
  }

  .features-section__carousel__item div:first-child {
    width: 80%;
  }

  .stay-up-to-date-section {
    &__grid-container {
      display: block;
    }

    &__input-wrapper__input {
      padding: 8px;
    }

    button {
      margin-top: 40px;
      width: 100%;
    }
  }
}

@media (max-width: 420px) {
  .introductory-section__flex {
    display: block;

    a {
      display: block;
      margin: 0px;
    }

    a:first-child {
      margin-bottom: 3vh;
    }
  }
}

// height-based query

@media (max-height: 560px) {
  .features-section__carousel {
    margin-top: 7vh;
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}
