* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: none;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  color: var(--grayish-blue);
}

:root {
  --light-red: rgb(250, 87, 87);
  --light-blue: rgb(83, 104, 223);
  --grayish-blue: rgb(98, 101, 119);
  --light-gray: rgba(177, 177, 177, 0.8);
  --very-dark-blue: rgb(37, 43, 70);
  --svg-bg-color: rgb(241 227 241);
}

html {
  overflow-x: hidden;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 36px;
}

h2, h3 {
  font-size: 28px;
}

h1, h2, h3 {
  color: black;
}

.page-header, main > section:not(.features-section, .stay-up-to-date-section) {
  margin: 0px auto;
  padding: 5vh 5vw;
  max-width: 1400px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10vh;
}
.page-header__link {
  color: black;
  user-select: none;
  font-variant: small-caps;
  font-weight: 500;
  transition: 150ms color linear;
}
.page-header__link + .page-header__link {
  margin-left: 2vw;
}
@media (hover: hover) {
  .page-header__link:hover {
    color: var(--light-red);
  }
}
@media (hover: none) {
  .page-header__link:active {
    color: var(--light-red);
  }
}
.page-header__link__special {
  display: inline-block;
  border: 2px solid var(--light-red);
  padding: 8px 32px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
  background-color: var(--light-red);
  border-radius: 4px;
  user-select: none;
  color: white;
  font-weight: 500;
  text-align: center;
  transition: 150ms background-color linear, 150ms color linear;
}
@media (hover: hover) {
  .page-header__link__special:hover {
    background-color: white;
    color: var(--light-red);
  }
}
@media (hover: none) {
  .page-header__link__special:active {
    background-color: white;
    color: var(--light-red);
  }
}

.introductory-section {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10%;
  padding-bottom: 5vh;
}
.introductory-section__paragraph {
  margin: 4vh 0px;
}
.introductory-section__chrome-button {
  margin-right: 2vw;
  display: inline-block;
  border: 2px solid var(--light-blue);
  padding: 8px 32px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
  background-color: var(--light-blue);
  border-radius: 4px;
  user-select: none;
  color: white;
  font-weight: 500;
  text-align: center;
  transition: 150ms background-color linear, 150ms color linear;
}
@media (hover: hover) {
  .introductory-section__chrome-button:hover {
    background-color: white;
    color: var(--light-blue);
  }
}
@media (hover: none) {
  .introductory-section__chrome-button:active {
    background-color: white;
    color: var(--light-blue);
  }
}
.introductory-section__firefox-button {
  display: inline-block;
  border: 2px solid var(--light-red);
  padding: 8px 32px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
  background-color: var(--light-red);
  border-radius: 4px;
  user-select: none;
  color: white;
  font-weight: 500;
  text-align: center;
  transition: 150ms background-color linear, 150ms color linear;
}
@media (hover: hover) {
  .introductory-section__firefox-button:hover {
    background-color: white;
    color: var(--light-red);
  }
}
@media (hover: none) {
  .introductory-section__firefox-button:active {
    background-color: white;
    color: var(--light-red);
  }
}
.introductory-section__svgs-container {
  position: relative;
}
.introductory-section__ameba-svg {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  transform: translate(20%, -20%);
}

.features-section__wrapper {
  margin: 0px auto;
  padding: 5vh 5vw;
  max-width: 1400px;
}
.features-section__title {
  text-align: center;
}
.features-section__paragraph {
  margin: 4vh auto 7vh;
  width: 50%;
  text-align: center;
}
.features-section__tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0px auto;
  border-bottom: solid 1px var(--light-gray);
  width: 75%;
}
.features-section__tabs__tab {
  padding: 24px 0px;
  background-color: transparent;
  user-select: none;
  transition: 150ms color linear;
}
@media (hover: hover) {
  .features-section__tabs__tab:hover {
    color: var(--light-red);
  }
}
@media (hover: none) {
  .features-section__tabs__tab:active {
    color: var(--light-red);
  }
}
.features-section__tabs__tab--active {
  color: black !important;
}
.features-section__tabs__vertical-bar {
  height: 4px;
  background-color: var(--light-red);
  transition: 300ms transform ease-in-out;
}
.features-section__carousel {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  margin: 3vh 0px 4vh;
  transition: 300ms transform ease-in-out;
}
.features-section__carousel svg:nth-child(1) {
  background-color: var(--svg-bg-color);
  border-radius: 12px;
}
.features-section__carousel__item {
  margin: 0px auto 10vh;
  display: grid;
  grid-template-columns: 1fr 55%;
  grid-gap: 10%;
  align-items: center;
  padding: 0px 5vw;
  max-width: 1400px;
}
.features-section__carousel__item div:nth-child(1) {
  position: relative;
}
.features-section__carousel__item div:nth-child(1) svg:last-child {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  transform: translate(-22%, -10%);
}
.features-section__carousel p {
  margin: 4vh 0px;
}
.features-section__carousel button {
  display: inline-block;
  border: 2px solid var(--light-blue);
  padding: 8px 32px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
  background-color: var(--light-blue);
  border-radius: 4px;
  user-select: none;
  color: white;
  font-weight: 500;
  text-align: center;
  transition: 150ms background-color linear, 150ms color linear;
}
@media (hover: hover) {
  .features-section__carousel button:hover {
    background-color: white;
    color: var(--light-blue);
  }
}
@media (hover: none) {
  .features-section__carousel button:active {
    background-color: white;
    color: var(--light-blue);
  }
}

.download-section__title {
  text-align: center;
}
.download-section__paragraph {
  margin: 4vh auto 8vh;
  width: 50%;
  text-align: center;
}
.download-section__cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 8vw;
  margin-bottom: 20vh;
}
.download-section__card {
  border-radius: 10px;
  box-shadow: 0px 20px 20px var(--light-gray);
}
.download-section__card:nth-child(2) {
  transform: translateY(40px);
}
.download-section__card:nth-child(3) {
  transform: translateY(80px);
}
.download-section__card__logo {
  display: block;
  margin: 8vh auto;
}
.download-section__card h3, .download-section__card p {
  text-align: center;
}
.download-section__card h3 {
  margin: 5vh 2vw 2vh;
  font-size: 20px;
}
.download-section__card p {
  margin: 0px 2vw 4vh;
}
.download-section__card span {
  text-decoration: underline;
}
.download-section__card__dots {
  width: 100%;
}
.download-section__card div {
  padding: 20px;
}
.download-section__card a {
  width: 100%;
  display: inline-block;
  border: 2px solid var(--light-blue);
  padding: 8px 32px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
  background-color: var(--light-blue);
  border-radius: 4px;
  user-select: none;
  color: white;
  font-weight: 500;
  text-align: center;
  transition: 150ms background-color linear, 150ms color linear;
}
@media (hover: hover) {
  .download-section__card a:hover {
    background-color: white;
    color: var(--light-blue);
  }
}
@media (hover: none) {
  .download-section__card a:active {
    background-color: white;
    color: var(--light-blue);
  }
}

.questions-section__title {
  text-align: center;
}
.questions-section__paragraph {
  margin: 5vh auto 8vh;
  width: 50%;
  text-align: center;
}
.questions-section__accordion-container {
  margin: 0px auto;
  width: 50%;
  list-style: none;
}
.questions-section__accordion-container button {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--light-gray);
  padding: 4vh 0px;
  width: 100%;
  background-color: transparent;
  font-weight: 500;
  font-size: 20px;
}
.questions-section__accordion-container button span {
  color: black;
  transition: 150ms color linear;
}
.questions-section__accordion-container button svg {
  transition: 150ms transform ease-in-out;
}
@media (hover: hover) {
  .questions-section__accordion-container button:hover span {
    color: var(--light-red);
    stroke: var(--light-red);
  }
}
@media (hover: none) {
  .questions-section__accordion-container button:active span {
    color: var(--light-red);
    stroke: var(--light-red);
  }
}
.questions-section__accordion-container p {
  height: 0px;
  overflow: hidden;
  transition: 200ms height ease-in-out;
}
.questions-section__accordion-container p:after {
  content: "";
  display: block;
  height: 4vh;
}
.questions-section__more-info {
  display: block !important;
  margin: 2vh auto 7vh;
  width: fit-content;
  display: inline-block;
  border: 2px solid var(--light-blue);
  padding: 8px 32px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
  background-color: var(--light-blue);
  border-radius: 4px;
  user-select: none;
  color: white;
  font-weight: 500;
  text-align: center;
  transition: 150ms background-color linear, 150ms color linear;
}
@media (hover: hover) {
  .questions-section__more-info:hover {
    background-color: white;
    color: var(--light-blue);
  }
}
@media (hover: none) {
  .questions-section__more-info:active {
    background-color: white;
    color: var(--light-blue);
  }
}

.stay-up-to-date-section {
  padding: 8vh 4vw;
  background-color: var(--light-blue);
}
.stay-up-to-date-section__wrapper {
  margin: 0px auto;
  max-width: 1400px;
}
.stay-up-to-date-section__paragraph {
  margin: 0px auto;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.stay-up-to-date-section h2 {
  margin: 4vh auto;
  width: 50%;
  text-align: center;
  font-weight: 400;
  color: white;
}
.stay-up-to-date-section__grid-container {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 20px;
  margin: 0px auto;
  width: 50%;
}
.stay-up-to-date-section__input-wrapper {
  position: relative;
}
.stay-up-to-date-section__input-wrapper__input {
  border: 2px solid transparent;
  padding: 0px 10px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  border-radius: 4px;
  background-color: rgb(119, 255, 255);
  color: black;
  transition: 150ms background-color linear, 250ms border-color linear, 250ms border-radius linear;
}
.stay-up-to-date-section__input-wrapper__input:focus {
  background-color: white;
}
.stay-up-to-date-section__input-wrapper__label {
  padding-left: 10px;
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: 1;
  transform: translateY(-50%);
  color: var(--grayish-blue);
  user-select: none;
  pointer-events: none;
  transition: 250ms transform ease-in-out, 150ms opacity linear;
}
.stay-up-to-date-section__input-wrapper svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(100%, -50%);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: 250ms transform ease-in-out, 150ms opacity linear;
}
.stay-up-to-date-section__input-wrapper__input-error-message {
  display: block;
  width: 100%;
  padding: 3px 7px 7px;
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  background-color: var(--light-red);
  border-radius: 0px 0px 4px 4px;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  color: white;
  transition: 250ms transform ease-in-out;
}
.stay-up-to-date-section button {
  display: inline-block;
  border: 2px solid var(--light-red);
  padding: 8px 16px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
  background-color: var(--light-red);
  border-radius: 4px;
  user-select: none;
  color: white;
  font-weight: 500;
  text-align: center;
  transition: 150ms background-color linear, 150ms color linear;
}
@media (hover: hover) {
  .stay-up-to-date-section button:hover {
    background-color: white;
    color: var(--light-red);
  }
}
@media (hover: none) {
  .stay-up-to-date-section button:active {
    background-color: white;
    color: var(--light-red);
  }
}

.page-footer__flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
}

.rotate-arrow {
  transform: rotate(-180deg);
}

.hide-label {
  opacity: 0;
  transform: translate(-100%, -50%);
}

.apply-error-style-on-element {
  border-color: var(--light-red);
  border-radius: 4px 4px 0px 0px;
}

svg.show-error-svg {
  opacity: 1;
  transform: translate(0%, -50%);
}

.show-error-message {
  transform: translateY(0px);
}

@media (pointer: coarse) {
  button {
    cursor: default;
  }
}

/*# sourceMappingURL=style.css.map */
