// Generic styles

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: none;

  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  color: var(--grayish-blue);
}

:root {
  --light-red: rgb(250, 87, 87);
  --light-blue: rgb(83, 104, 223);
  --grayish-blue: rgb(98, 101, 119);
  --light-gray: rgba(177, 177, 177, 0.8);
  --very-dark-blue: rgb(37, 43, 70);
  --svg-bg-color: rgb(241 227 241);
}

html {
  overflow-x: hidden;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 36px;  
}

h2, h3 {
  font-size: 28px;
}

h1, h2, h3 {
  color: black;
}

.page-header, main > section:not(.features-section, .stay-up-to-date-section) {
  margin: 0px auto;
  padding: 5vh 5vw;
  max-width: 1400px;
}


// mixins

@mixin button($color, $vertical-padding: 32px) {
  display: inline-block;
  border: 2px solid $color;
  padding: 8px $vertical-padding;

  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);

  background-color: $color;
  border-radius: 4px;

  user-select: none;

  color: white;
  font-weight: 500;
  text-align: center;

  transition: 150ms background-color linear, 150ms color linear;

  @media (hover: hover) {
    &:hover {
      background-color: white;
      color: $color;
    }
  }

  @media (hover: none) {
    &:active {
      background-color: white;
      color: $color;
    }
  }
}


// Specific styles

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 10vh;

  &__link {
    color: black;

    user-select: none;

    font-variant: small-caps;
    font-weight: 500;

    transition: 150ms color linear;

    & + & {
      margin-left: 2vw
    }

    @media (hover: hover) {   // Avoid the hover state being applied on touch devices
      &:hover {
        color: var(--light-red)
      }
    }

    @media (hover: none) {
      &:active {
        color: var(--light-red)
      }
    }
  }

  &__link__special {
    @include button(var(--light-red))
  }
}

.introductory-section {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10%;

  padding-bottom: 5vh;

  &__paragraph {
    margin: 4vh 0px;
  }

  &__chrome-button {
    margin-right: 2vw;
    @include button(var(--light-blue))
  }

  &__firefox-button {
    @include button((var(--light-red)))
  }

  &__svgs-container {
    position: relative;
  }
  
  &__ameba-svg {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    transform: translate(20%, -20%);
  }
}

.features-section {
  &__wrapper {
    margin: 0px auto;
    padding: 5vh 5vw;
    max-width: 1400px;
  }

  &__title {
    text-align: center;
  }

  &__paragraph {
    margin: 4vh auto 7vh;
    width: 50%;

    text-align: center;
  }

  &__tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    margin: 0px auto;
    border-bottom: solid 1px var(--light-gray);
    width: 75%;

    &__tab {
      padding: 24px 0px;

      background-color: transparent;

      user-select: none;

      transition: 150ms color linear;

      @media (hover: hover) {
        &:hover {
          color: var(--light-red)
        }
      }

      @media (hover: none) {
        &:active {
          color: var(--light-red);
        }
      }

      &--active {
        color: black !important;
      }
    } 

    &__vertical-bar {
      height: 4px;

      background-color: var(--light-red);

      transition: 300ms transform ease-in-out;
    }
  }

  &__carousel {
    display: grid;
    grid-template-columns: repeat(3, 100%);

    margin: 3vh 0px 4vh; 

    transition: 300ms transform ease-in-out;

    svg:nth-child(1) {
      background-color: var(--svg-bg-color);
      border-radius: 12px;
    }
    
    &__item {
      margin: 0px auto 10vh;
      display: grid;
      grid-template-columns: 1fr 55%;
      grid-gap: 10%;
      align-items: center;

      padding: 0px 5vw;
      max-width: 1400px;

      div:nth-child(1) {
        position: relative;

        svg:last-child {
          width: 100%;

          position: absolute;
          top: 0px;
          left: 0px;
          z-index: -1;
          transform: translate(-22%, -10%);
        }
      }
    }

    p {
      margin: 4vh 0px;
    }

    button {
      @include button(var(--light-blue))
    }
  }
}

.download-section {
  &__title {
    text-align: center;
  }

  &__paragraph {
    margin: 4vh auto 8vh;
    width: 50%;

    text-align: center;
  }

  &__cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 8vw;    // !

    margin-bottom: 20vh;
  }

  &__card {
    border-radius: 10px;

    box-shadow: 0px 20px 20px var(--light-gray);

    &:nth-child(2) {
      transform: translateY(40px);
    }

    &:nth-child(3) {
      transform: translateY(80px);
    }

    &__logo {
      display: block;
      margin: 8vh auto;
    }

    h3, p {
      text-align: center;
    }

    h3 {
      margin: 5vh 2vw 2vh;

      font-size: 20px;
    }

    p {
      margin: 0px 2vw 4vh;
    }
    
    span {
      text-decoration: underline;
    }

    &__dots {
      width: 100%;
    }

    div {
      padding: 20px;
    }

    a {
      width: 100%;
      
      @include button(var(--light-blue))
    }
  }
}

.questions-section {
  &__title {
    text-align: center;
  }

  &__paragraph {
    margin: 5vh auto 8vh;
    width: 50%;

    text-align: center;
  }

  &__accordion-container {
    margin: 0px auto;
    width: 50%;

    list-style: none;

    button {
      display: flex;
      justify-content: space-between;

      border-top: 1px solid var(--light-gray);
      padding: 4vh 0px;  // !
      width: 100%;

      background-color: transparent;
  
      font-weight: 500;
      font-size: 20px;

      span {
        color: black;

        transition: 150ms color linear;
      }

      svg {
        transition: 150ms transform ease-in-out;
      }

      @media (hover: hover) {
        &:hover span {
          color: var(--light-red);
          stroke: var(--light-red)
        }
      }

      @media (hover: none) {
        &:active span {
          color: var(--light-red);
          stroke: var(--light-red)
        }
      }
    }

    p {
      height: 0px;

      overflow: hidden;

      transition: 200ms height ease-in-out;
    }

    p:after {   // I created this pseudo-element to add the spacing at the bottom of the paragraph, because the padding wasn't  working properly on the <p>
      content: '';

      display: block;
      height: 4vh;    // !
    }
  }

  &__more-info {
    display: block !important;
    margin: 2vh auto 7vh;
    width: fit-content;
    
    @include button(var(--light-blue))
  }
}

.stay-up-to-date-section {
  padding: 8vh 4vw;

  background-color: var(--light-blue);

  &__wrapper {
    margin: 0px auto;
    max-width: 1400px;
  }

   &__paragraph {
    margin: 0px auto;
    width: 50%;

    text-align: center;
    text-transform: uppercase;
    color: white;
  }

  h2 {
    margin: 4vh auto;
    width: 50%;

    text-align: center;
    font-weight: 400;
    color: white;
  }

  &__grid-container {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 20px;

    margin: 0px auto;
    width: 50%;
  }

  &__input-wrapper {
    position: relative;

    &__input {
      border: 2px solid transparent;
      padding:  0px 10px;
      width: 100%;
      height: 100%;

      position: relative;
      z-index: 1;

      border-radius: 4px;

      background-color: rgb(119, 255, 255);

      color: black;

      transition: 150ms background-color linear, 250ms border-color linear, 250ms border-radius linear;

      &:focus {
        background-color: white;
      }
    }

    &__label {
      padding-left: 10px;

      position: absolute;
      top: 50%;
      left: 0px;
      z-index: 1;
      transform: translateY(-50%);
      
      color: var(--grayish-blue);

      user-select: none;
      pointer-events: none;

      transition: 250ms transform ease-in-out, 150ms opacity linear;
    }

    svg {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(100%, -50%);
      z-index: 1;

      opacity: 0;

      pointer-events: none;

      transition: 250ms transform ease-in-out, 150ms opacity linear;
    }

    &__input-error-message {
      display: block;
      width: 100%;
      padding: 3px 7px 7px;

      position: absolute;
      top: 100%;
      transform: translateY(-100%);

      background-color: var(--light-red);

      border-radius: 0px 0px 4px 4px;

      font-style: italic;
      font-weight: 500;
      font-size: 14px;
      color: white;
      
      transition: 250ms transform ease-in-out;
    }
  }
  
  button {
    @include button(var(--light-red), 16px)
  }
}

.page-footer {
  &__flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1400px;
  }
}


// Javascript's classes

.rotate-arrow {
  transform: rotate(-180deg);
}

.hide-label {
  opacity: 0;

  transform: translate(-100%, -50%)
}

.apply-error-style-on-element {
  border-color: var(--light-red);
  border-radius: 4px 4px 0px 0px;
}

svg.show-error-svg {
  opacity: 1;

  transform: translate(0%, -50%)
}

.show-error-message {
  transform: translateY(0px);
}



// At-rules

@media (pointer: coarse) {
  button {
    cursor: default;
  }
}